.Navbar{
    display: flex;
    justify-content: space-around;
    padding: 20px 0px;  
    box-sizing: border-box;
    position: relative;
}

.Nav--ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.Nav--ul>li, .Nav--ul>li>a{
    text-decoration: none;
    list-style: none;
    padding: 0 15px;
    font-size: 15px;
    cursor: pointer;
    color: white;
    font-weight: 500;
}

.Navbar--right{
    display: flex;
}

.Nav--ul>li:hover, .Nav--ul>li>a:hover{
    color: gray;
}

.Nav--ul li:last-child{
    margin-right: auto;
}

.lang--div{
    display: flex;
    position: relative;
    margin: auto;
    min-width: 100px;
    height: 50px;
}

.lang--select{
    border: none;
    appearance: none;
    padding: 0 30px 0 15px;
    width: 100%;
    color: white;
    background-color: blue;
    font-size: 20px;
}

.langDropdown__selected{
    display: flex;
    margin: auto;
    cursor: pointer;
}

.langDropdown__selected>img{
    margin: auto;
    padding: 0 10px;
}

.langDropdown{
    color: white;
    margin-left: 15px;
}

.langDropdown__options{
    background-color: white;
    border-radius: 10px;
    padding: 10px 5px;
    color: black;
    font-size: 15px;
    position: absolute;
}

.langDropdown__options>img{
    margin: auto;
    padding: 0 5px;
}

.langDropdown__option{
    display: flex;
    padding: 0 5px;
    transition: color 0.5s, background-color 0.5s;
    margin: 0px;
    height: 40px;
    cursor: pointer;
}

.langDropdown__option>img{
    margin: auto;
    padding: 0 5px;
}

.langDropdown__option:hover{
    background-color: rgb(0, 123, 255);
    color: white;
}

.Navbar--left {
    display: flex;
    align-items: center;
  }
  
.hamburger-icon {
display: none;
cursor: pointer;
}
  
@media (max-width: 1250px) {
.Nav--ul {
     display: none; 
}

.website--logo{
    display: none;
}

.hamburger-icon {
    display: block;
    color: white; /* Show the hamburger icon on smaller screens */
}

.Navbar--right {
    flex-direction: column; /* Stack the language dropdown below the hamburger icon */
}
}

.menuDropdown{
    background-color: white;
    z-index: 1;
    position: absolute;
    top: 100%;
    width: 200px;
}

.Navdropdown--ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    padding: 0;
    margin: 0;
    width: 80%;
}

.Navdropdown--ul>li, .Navdropdown--link{
    padding: 20px 20px;
}

.Navdropdown--ul>li, .Navdropdown--ul>li>a, .Navdropdown--link{
    cursor: pointer;
    text-align: left;
    font-weight: bold;
    transition: background-color 0.5s;
    text-decoration: none;
    list-style: none;
    color: black;
    width: 100%;
}

.Navdropdown--ul>li:hover, .Navdropdown--link:hover{
    background-color: gray;
}