/* Desktop - min-width: 1000px 
Tablet - (min-width: 768px) and (max-width: 1024px)
Mobile Landscape - (min-width: 400px) and (max-width: 768px)
Mobile portrait - (max-width: 400px) 
  */

html, body{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

.price-dashSidebar{
    display: block;
    background-color: rgba(255, 255, 255, 0.366);
    box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.1);
    width: 20%;
    max-width: 250px;
}

@media (max-width:1000px) {
    .price-dashSidebar, .price-dashSidebar>div{
        display: none;
    }
}

.price-content {
    display: flex;
    width: 100%;
    height: 100%;
}

.price-main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.price--header {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.price--searchbox {
    position: relative;
    overflow: hidden;
    margin: 10px 0px;
    margin-top: 0px;
}


.price--searchinput {
    width: 250px;
    height: auto;
    padding: 10px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 2px solid rgb(232, 232, 232);
    outline: none;
}

.price--searchicon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}

.price--utils {
    display: flex;
}

.price--utils--icons {
    height: 20px;
    margin-left: 5px;
    margin-right: 5px;
}

.price--util {
    height: 25px;
    border-radius: 10px;
    /* gap: 10px; */
    padding: 5px 10px;
    color: gray;
    margin-left: 10px;
    box-shadow: 0px 0px 10px 0px rgba(232, 232, 232, 1);
    display: flex; /* Add display: flex; to center vertically */
    align-items: center; /* Center items vertically */
    font-size: 15px;
    cursor: pointer;
}

@media (max-width: 1000px){
    .price--utils--icons {
        height: 30px;
    }

    .price--util {
        height: 30px;
        border-radius: 20px;
        padding: 20px 40px;
        color: gray;
        margin-left: 10px;
        box-shadow: 0px 0px 10px 0px rgba(232, 232, 232, 1);
        display: flex; /* Add display: flex; to center vertically */
        align-items: center; /* Center items vertically */
    }
}

@media (max-width: 768px){
    .price--header{
        flex-direction: column;
        padding: 20px 40px;
    }

    .price--searchinput{
        width: 100%;
    }

    .price--utils{
        width: 100%;
        justify-content: space-between;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}

@media (max-width: 420px){
    .price--util{
        margin: auto;
        padding: 2% 10%;
    }

    .price--header{
        flex-direction: column;
        padding: 20px 10px;
    }

    .price--utils{
        margin-top:  5px;
        margin-bottom: 5px;
    }
}

.price--articles{
    display: flex;
    padding: 10px 50px; 
    min-height: 0px;
    margin-right: 20px;
}

@media (max-width: 1100px) {
    .price--articles{
        padding: 10px 5px; 
    }

    .price--article--column{
        margin-left: 1px;
        margin-right: 1px;
    }
}
.price--article--header{
    height: 40px;
    display: flex;
    justify-content: flex-start;
}

.price--article--column{
    display: flex;
    flex-direction: column;
    /* flex: 1; */
    margin-left: 2px;
    margin-right: 2px;
    width: 100%;
}

.price--article--list{
    display: flex;
    flex-direction: column;
    /* gap: 5px; */
    min-width: 0;
}

.price--article--no, .price--article--column, .price--article--list, .price--article--item{
    min-width: 0;
}

.price-article-description{
    flex-shrink: 5;
    flex-grow: 2;
}

.price--article--item{
    display: flex;
    padding: 2px 10px;
    border-radius: 10px;
    border: 2px solid rgb(210, 217, 237);
    overflow-x: hidden;
    overflow-y: hidden;
    align-items: flex-start;
    min-width: 0;
    flex-grow: 1;
    height: 22px;
    justify-content: center;
    word-spacing: -0.8px;
    /* margin-top: 2px; */
    margin-bottom: 5px;
}





.price--article--more{
    display: flex;
    padding: 2px 10px;
    border-radius: 10px;
    overflow-x: auto;
    border: 2px solid transparent;
    height: 18px;
    min-width: 20px;
}

.price--article--column{
    max-width: min-content;
}

.price--article--knowMore{
    z-index: 1000;
    width: 100px;
    right: 0;
}

.price--article--product, .price--article--description, .price--article--product>.price--article--item, 
.price--article--description>.price--article--item{
    flex-grow: 100;
    max-width: 100%;
}
/* 
.price--articles{
    padding: 20px 10px;
    overflow-x: auto;
  
}

.price--articles--header{
    display: flex;
    margin-bottom: 20px;
    overflow: hidden;
    flex-wrap: wrap;
    height: 18px;
}

.price--article--container{
    display: flex;
    flex-wrap: wrap;
    height: 18px;
    overflow-y: hidden;
    overflow-x: auto;
}

.price--article{
    border: 2px solid rgb(210, 217, 237);
    border-radius: 10px;
    padding: 2px 0px;
    overflow-x: auto;
    margin-left: 5px;
    margin-right: 5px;
    height: 18px;
    white-space: nowrap;
}

.price--articles--header>div{
    border: 2px solid transparent;
    border-radius: 10px;
    padding: 2px 0px;
    margin-left: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow: auto;
    height: 18px;
    white-space: nowrap;
}

.article-header-no, .article-header-product{
    display: flex;
    gap: 2px;
}

@media (min-width: 1000px) {
    .article-header-no, .article-no{
        width: 5%;
    }

    .article-header-product, .article-product{
        width: 20%;
    }

    .article-header-inPrice, .article-inPrice{
        width: 4%;
    }

    .article-header-Price, .article-Price{
        width: 5%;
    }

    .article-header-Unit, .article-Unit{
        width: 8%;
    }

    .article-header-inStock, .article-inStock{
        width: 3%;
    }

    .article-header-Description, .article-Description{
        width: 20%;
    }
}


@media (min-width: 1400px){
    .article-header-no, .article-no{
        width: 8%;
    }

    .article-header-product, .article-product{
        width: 32%;
    }

    .article-header-inPrice, .article-inPrice{
        width: 6%;
    }

    .article-header-Price, .article-Price{
        width: 7%;
    }

    .article-header-Unit, .article-Unit{
        width: 12%;
    }

    .article-header-inStock, .article-inStock{
        width: 6.5%;
    }

    .article-header-Description, .article-Description{
        width: 32%;
    }
} */
