.dashSidebar{
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
}

.dashSide--MenuText{
    margin: 20px;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    height: 35px;
    width: 70%;
    border-bottom: 2px solid rgb(0, 104, 231);
}

.dashSide--contents{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
    overflow-y: hidden;
}

.dashSide--anchor{
    text-decoration: none;
    color: black;
}

.dashSide--content{
    width: 100%;
    display: flex;
}

.dashSide-active{
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: green;
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
}

.dashSide-inactive{
    margin-left: 10px;
    width: 15px;
    height: 15px;
    border-radius: 50px;
}

.dashSide--contentIcon>img{
    width: 30px;
    height: 30px;
    margin: 0px 10px 0px 10px;
}

.dashSide--contentText{
    display: flex;
    align-items: center;
    text-align: initial;
}

.spacer-100{
    width: 100%;
    height: 100px;
}