.contact_us{
    margin-top: 150px;
}
.contact--text{
    background-color: white;
    color: black;
    width: 400px;
    margin: auto;
    padding: 30px;
    border-radius: 20px;
    line-height: 1.5;
    font-weight: 350;
}

@media (width <1000px) {
    .contact--text{
        width: 40%;
    }
}

@media (width <500px) {
    .contact--text{
        width: 80%;
    }
}

.red--text{
    color: red;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 10px;
}

.normal--text{
    font-size: 22px;
    line-height: 45px;
    color: black;
}

.raised--button{
    color: white;
    background-color: green;
    border-radius: 30px;
    max-width: fit-content;
    width: 100%;
    overflow: hidden;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px 20px;
    font-size: 17px;
    line-height: 30px;
    font-weight: 500;
    text-align: center;
    letter-spacing: 1px;
}

.raised--button>a{
    color: white;
    text-decoration: none;
}

.raised--button:hover{
    box-shadow: 0px 5px 10px 0px rgba(0,0,0,0.2);
}

.socialMedia--container{
    margin: 200px 0px;
}